$inputColor: #f9f9f9;
$myColor: #ff748d;

*{
    margin: 0;
   
    box-sizing: border-box;

}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    .title{
        height: 20%;
       
        padding-left: 4rem;

       .name{
        font-size: 35px;
       
        color:$myColor;
        margin: 2rem;
        }
        .create_account{
            border: none;
            width: 190px;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgba(128, 128, 128, 0.595);
            background-color: transparent;
            font-size: 14px;
            font-weight:600;
            margin-left: 2rem;
        }
        

    }
    .main{
        width: 100%;
        height: 80%;
        display: flex;
        .Left{
            margin-left: 5.5rem;
            width: 50%;
            padding-top: 2rem;
            h1{
                margin-top: 2rem;
                color: rgba(58, 58, 58, 0.838);
            }
            input{
                border-style: none;
                background-color: $inputColor;
                height: 4rem;
                margin: 0.5rem;
                width: 50%;
                padding: 1rem;
                margin-left: 0;
            }
            .form{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
            }
            .controlers{
                display: flex;
                margin: 1rem;
                width: 100%;
                width: 50%;
            p{
                color: black;
                font-size: 16px;
                display: none;
            }
                button{
                    
                   margin-left: auto;

                    width: 120px;
                    height: 40px;
                    border: none;
                    background-color: $myColor;
                    border-radius: 5px;
                    color: white;
                    font-size: medium;
                }
            }
        }
        .Right{
            width: 50%;
            display:block;
            background-image: url('../../imgs/pablo-sign-in.png');
     
            background-size: cover;
            
            
            
        }
    }
}

@media  only screen and (max-width: 480px) {
    .form{
        width: 30rem;
       
        input{
            width: 20rem;
        }
    }
   
  }